.landing-bg{
  background-image: url('/EL-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Nav Animation */
.hero .text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}


.footer-comp{
  margin-top: 12vh;
}

h1{
  display: flex;
  font-family:'Segoe UI', 'Tahoma', 'Geneva', 'sans-serif';
  font-size: 80px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  margin: 0;
}
p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family:'Segoe UI', 'Tahoma', 'Geneva', 'sans-serif'; */
  margin-bottom: 1.25rem;
  font-weight: 400;
  
}

video{
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 20px;
}

body {
      background: linear-gradient(90deg, #3c0064, #4b0b6e); /* same purple bg */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .btn-custom-primary {
      background-color: white;
      color: #5b00cc; /* purple text */
      font-weight: 500;
      border-radius: 50px; /* rounded pill */
      padding: 10px 25px;
      border: none;
    }

    .btn-custom-outline {
      background-color: transparent;
      color: white;
      border: 2px solid white;
      font-weight: 500;
      border-radius: 50px;
      padding: 10px 25px;
    }

    .btn-custom-primary:hover {
      background-color: #f0f0f0;
    }

    .btn-custom-outline:hover {
      background-color: white;
      color: #5b00cc;
    }

    .btn-container {
      display: flex;
      gap: 20px;
    }
