.login-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}
.modal-content {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.modal-content svg {
  display: block;
  margin: 0 auto;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.circle {
  animation: dash 0.9s ease-in-out;
}

.path.line {
  stroke-dashoffset: 1000;
  animation: dash 0.95s 0.35s ease-in-out forwards;
}

.path.check {
  stroke-dashoffset: -100;
  animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@keyframes dash {
  0% { stroke-dashoffset: 1000; }
  100% { stroke-dashoffset: 0; }
}

@keyframes dash-check {
  0% { stroke-dashoffset: -100; }
  100% { stroke-dashoffset: 900; }
}
