<app-navbar></app-navbar>
<div class="container mt-5">

<p class="text-success small mb-2" *ngIf="message">{{ message }}</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let c of courses">
    <div class="card h-100 shadow-sm course-card">
      <div class="card-body d-flex flex-column">
        <img class="src-img" src="ng.png" width="390px" />
        <h6 class="fw-bold">{{ c.title }}</h6>
        <p class="small text-muted mb-1">Domain: {{ c.domain }} • Level: {{ c.level }}</p>
        <p class="small">{{ c.description }}</p>

        <div class="mt-auto">
          <p class="small text-muted mb-1">
            ⏱ {{ c.durationHrs }}h • ⭐ {{ c.rating }} • 👨‍🎓 {{ c.studentsCount }}
          </p>
          <p class="course-price">\${{ c.price }}</p>
          <button class="btn btn-success w-100" (click)="enroll(c.id)">Enroll</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="courses.length === 0" class="text-center text-muted my-5">
  <p class="mb-0">No courses found.</p>
</div>

</div>