<app-student-navbar></app-student-navbar>

<div class="container py-4">
  <div class="mb-3">
    <div class="row g-2 align-items-end">
      <div class="col-md-6">
        <label class="form-label small">Search</label>
        <input class="form-control" [(ngModel)]="search" placeholder="Search by title or tag" />
      </div>

      <div class="col-md-2 d-grid">
        <button class="btn btn-primary" (click)="load()">Search</button>
      </div>
    </div>
  </div>

  <!-- ✅ Enrollment Success Popup -->
<div class="modal fade show" tabindex="-1" 
     role="dialog" 
     *ngIf="showPopup" 
     style="display: block; background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-3 text-center">
      <h5 class="text-success fw-bold mb-2">Enrollment Successful 🎉</h5>
      <p>You’ve successfully enrolled in this course!</p>
      <button class="btn btn-primary mt-2" (click)="closePopup()">OK</button>
    </div>
  </div>
</div>


  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let c of courses">
      <div class="card h-100 shadow-sm">
        <img *ngIf="c.thumbnail" [src]="'http://localhost:8080/' +c.thumbnail" class="card-img-top" alt="thumbnail" />
        <div class="card-body d-flex flex-column">
          <div class="mb-2">
            <div class="fw-semibold">{{ c.title }}</div>
            <small class="text-muted">
              {{ c.domain }} • {{ c.level }} • {{ c.durationHrs ? c.durationHrs + 'h' : '' }}
            </small>
          </div>

          <p class="small text-muted mb-2">{{ c.description }}</p>

          <div class="mb-2 d-flex flex-wrap gap-1">
            <span class="badge bg-light text-dark border" *ngFor="let t of c.displayTags">{{ t }}</span>
          </div>

          <div class="mt-auto">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <small class=" fw-semibold text-dark">
                ⭐ {{ c.avgRating }} ({{ c.studentsCount }})
              </small>
              <!-- <span class="fw-bold text-success">({{ c.studentsCount }})</span> -->
            </div>

            <button *ngIf="!c.enrolled" class="btn btn-sm btn-success w-100"
              (click)="enroll(c.id)">
              Enroll
            </button>

            <button *ngIf="c.enrolled" class="btn btn-sm btn-outline-secondary w-100"
              disabled>
               Enrolled
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="courses.length === 0" class="text-center text-muted my-5">
    <p>No courses found.</p>
  </div>
</div>
