 .login-body {
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/double-bubble-outline.png') repeat;
  background-size: cover;
}

.login-box {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 2rem;
  max-width: 360px;
  width: 100%;
  box-shadow: 0px 8px 25px rgba(0,0,0,0.1);
}
/*
.form-control {
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #000;
  font-size: 15px;
}

.form-control:focus {
  border-color: #000;
  outline: none;
  box-shadow: none;
}

.btn-dark {
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

.btn-dark:hover {
  background-color: #333;
}

.login-link {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
} */
.modal-content {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.modal-content svg {
  display: block;
  margin: 0 auto;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.circle {
  animation: dash 0.9s ease-in-out;
}

.path.line {
  stroke-dashoffset: 1000;
  animation: dash 0.95s 0.35s ease-in-out forwards;
}

.path.check {
  stroke-dashoffset: -100;
  animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@keyframes dash {
  0% { stroke-dashoffset: 1000; }
  100% { stroke-dashoffset: 0; }
}

@keyframes dash-check {
  0% { stroke-dashoffset: -100; }
  100% { stroke-dashoffset: 900; }
}
