a{
    text-decoration: none;
    color: gray;
}

.src-img{
    max-height: 230px;
    object-fit: cover;
    width: 100%;  
    border-radius: 8px; 
}

.header{
    font-size: 17px;
    font-weight: 400;
    color: #3b82f6;
    background-color: #efefef;
    margin-bottom: 10px;
    border: #3b82f6;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
  }

    .header h1{
      margin:0;
    }

    
.cont{
      border-radius: 8px;
      color: #3b82f6;
      box-shadow: 0 2px 6px rgba(0,0,0,0.08);
      background-color: #efefef;
    }